@using Store.Web.Dtos.HistoryNote;
@model List<HistoryNoteStatisticsViewDto>

<h1>Детальная информация о клиенте за последний месяц</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата</th>
            <th scope="col">Сообщение</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;

            foreach (HistoryNoteStatisticsViewDto item in Model)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Date </td>
                    <td>@item.Message</td>
                </tr>
                counter++;
            }
        }

    </tbody>
</table>
