@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приложение для торговли</h1>
    <p>Для использования необходимо авторизоваться, после этого станут доступными дополнительные вкладки</p>
</div>
